<div class="team">

	<div class="team__logo">
		{{head}}
	</div>
	<div class="team__button team__buttonUp">
		<i class="fas fa-angle-double-up"></i>
	</div>
	<div class="team__button team__buttonDown">
		<i class="fas fa-angle-double-down"></i>
	</div>
	<div class="team__container" id="team__size">
	{{#each list}}
	<div class="team__block">
		<div class="team__img">
			<img src="{{urlImg}}" alt="{{altImg}}">
		</div>
		<div class="team__name">
			<p class="team__namePH">Name: </p>
			<p>{{name}}</p>
		</div>
		<p>
		{{text}}
		</p>
		<a href="{{urlLink}}">
		{{textLink}}
		</a>
	</div>
	{{/each}}
	</div>
</div>