.shout{
	min-height: 135px;
	display: flex;
	justify-content: center;
	align-items: center;
	p{
		width: 720px;
		text-align: center;
		font-size: 22px;
		font-style: italic;
		color:rgb(51,51,51);
	}
}
@media only screen and (max-width: 479px){
	.shout{
		p{
			font-size: 15px;
		}
	}
}
